<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FindJob</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }

      .job-detail {
        width: 80%;
        margin: 40px auto;
        padding: 20px;
        background-color: #fff;
      }

      .job-detail h3 {
        margin-top: 0;
        color: #333;
      }

      .job-info {
        margin-top: 20px;
      }

      .job-info p {
        margin: 10px 0;
        font-size: 16px;
      }

      .job-info p strong {
        color: #555;
      }

    </style>
  </head>
  <body>
    <%- include('Navbar.ejs') %> <%- include('aside-dashboard.ejs') %>

    <section class="job-detail">
      <h3>Position:</h3>
      <div class="job-info">
        <p><strong>Comapnay : </strong>
        <p><strong>Location : </strong>
        <p><strong>Job Type : </strong>
            <p><strong>Skills: <li> </li></strong>
        </p>
        <p><strong>Salary:</strong></p>
        <p><strong>Experience:</strong></p>
        <p><strong>qualifications:</strong></p>
        <p><strong>Description:</strong> </p>
      </div>
    </section>

  </body>
</html>