<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FindJob</title>
    <link rel="stylesheet" href="/css/Home.css" />
  </head>
  <body>
    <nav id="navbar">
      <div id="logo">
        <a href="/"><img src="/Images/Nav-logo.png" alt="logo" /></a>
      </div>
      <ul class="nav-links">
        <li><a href="/" class="nav-link active">Home</a></li>
        <li><a href="/all-jobs" class="nav-link active">Job</a></li>
        <li><a href="/dashboard" class="nav-link active">Dashboard</a></li>
        <form action="/user/logout" method="POST">
          <button class="nav-btn" type="submit">Logout</button>
        </form>
      </ul>
    </nav>
  </body>
</html>
